@font-face {
	font-family: 'Proto Mono';
	src: local('Proto Mono Light'), local('Proto-Mono-Light'),
		url('../fonts/ProtoMono-Light.woff2') format('woff2'),
		url('../fonts/ProtoMono-Light.woff') format('woff'),
		url('../fonts/ProtoMono-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
  }

body{
	background-image: url("../img/letter_bg_01.jpg");
	background-size: cover;
	color: #cfcfcf;
	font-size: 20px;
}

h1 {
	font-family: 'Proto Mono Light';
	font-size: 50px;
}

.documents_container{
	display: flex;
	flex-wrap: wrap;
}

.documents_container div {
	margin: 30px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid transparent;
	padding-top: 5px;
}

.documents_container div:hover{
	color: #64e18e;
	cursor: pointer;
	border: 2px dashed white;
}

.documents_container div:after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '.';
	color: transparent;
	background: #F1C40F;
	visibility: none;
	opacity: 0;
	z-index: -1;
}

.documents_container div i{
	font-size: 100px;
}

input {
	font-size: 20px;
	margin-left: 30px;
}